@model List<TP4.MVC.Models.ShippersView>

@{
    ViewBag.Title = "Lista de transportistas";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="btn btn-default">
            @Html.ActionLink("Agregar", "InsertUpdate", "Shippers")
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de la compañía</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shipper in Model)
                {
                    <tr>
                        <th scope="row">@shipper.Id</th>
                        <td>@shipper.CompanyName</td>
                        <td class="btn btn-default">@Html.ActionLink("Modificar", "InsertUpdate", new { id = shipper.Id })</td>
                        <td class="btn btn-danger">@Html.ActionLink("Borrar", "Delete", new { id = shipper.Id }, new { onclick = "return confirm('¿Esta seguro de que desea borrar al transportista?')" })</td>
                        <td class="btn btn-info">@Html.ActionLink("Detalles", "Details", new { id = shipper.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
        <script>

        </script>
    </div>
</body>
</html>
