@model List<TP4.MVC.Models.CategoriesView>

@{
    ViewBag.Title = "Lista de categorías";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>HOLA SOY EL INDEX DE CATEGORIES</h1>
        <div class="btn btn-primary">
            @Html.ActionLink("Agregar", "Insert")
        </div>
        <div class="btn btn-primary">
            @Html.ActionLink("Agregar", "InsertUpdate", "Categories")
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.CategoryName</td>
                    <td class="btn btn-default">@Html.ActionLink("Modificar", "InsertUpdate", new { id = category.Id })</td>
                    <td class="btn btn-danger">@Html.ActionLink("Borrar", "Delete", new { id = category.Id }, new { onclick = "return confirm('¿Esta seguro de que desea borrar la categoria?')" })</td>
                    <td class="btn btn-info">@Html.ActionLink("Detalles", "Details", new { id = category.Id })</td>
                </tr>
                }
            </tbody>
        </table>
        <script>

        </script>
    </div>
</body>
</html>
